.steps {
  margin: 20px 0;
  text-align: left;
}

.step__container {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 10px 0;
}

.steps__add-btn {
  margin: 20px;
  padding: 10px;
}

.steps__select-action {
  height: 50px;
}

.step__params {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.steps__remove {
  width: 30px;
  height: 30px;
  margin-right: 16px;
  border-radius: 4px;
}

.step__crop {
  margin-left: 50px;
}
