.screenshooter-btn {
  height: 46px;
  margin: 0 20px;
}

.screenshot-gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.screenshot {
  cursor: pointer;
  max-width: 400px;
  margin-bottom: 30px;
}

.screenshot-wrapper {
  display: flex;
  flex-direction: column;
}

.screenshot-title {
  margin-bottom: 30px;
}

.screenshooter__checkbox {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.checkbox.screenshooter__checkbox {
  display: block;
}

.options {
  text-align: left;
  margin: 50px;
  padding: 20px;
  border: 1px solid white;
}

.loading:after {
  content: ".";
  margin-left: -12px;
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;
  }
}
