.field-container {
  display: flex;
  justify-content: flex-start;
}

.field-container--inline {
  display: inline-flex;
  width: 50%;
  margin: 0 50px;
  align-items: center;
}

.input-label {
  margin-right: 10px;
  width: 40%;
}

.input-box {
  width: 70%;
  height: 30px;
  margin: 10px 0;
}

.input-label,
.input-box {
  display: inline-flex;
  align-items: center;
}
