.app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 100vh;
  color: white;
  font-size: calc(10px + 2vmin);
  text-align: center;
  background-color: #282c34;
}

.app-logo {
  width: 100px;
  margin: 50px 0;
  animation: app-logo-spin infinite 20s linear;
  pointer-events: none;
  fill: red;
}

.app-logo__wrapper {
  display: inline-block;
  height: 100%;
  margin: 50px 0 0 50px;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
