.toggler {
  display: flex;
  justify-content: center;
  height: 46px;
  width: 60%;
  margin: 50px auto 0;
}
.toggler__wrapper {
  width: 100%;
}

.toggler__children {
  width: 80%;
  margin: 0 auto;
}

.toggler__option {
  height: 100%;
  flex: 1;
}

.toggler__option--active {
  background-color: #c6c6c6;
}
